{% extends 'Home/main.html' %}
{% block category_active %}
  active
{% endblock %}
{% load static %}

{% block main %}
  <main>
    <!-- Whats New Start -->
    <section class="whats-news-area pt-50 pb-20">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row d-flex justify-content-between">
              <div class="col-lg-3 col-md-3">
                <div class="section-tittle mb-30">
                  <h3>Whats New</h3>
                </div>
              </div>
              <div class="col-lg-9 col-md-9">
                <div class="properties__button">
                  <!-- Nav Button -->
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link {% if not request.GET.category %}active{% endif %}" href="/Category" role="tab" aria-controls="nav-home" aria-selected="true">All</a>

                      {% for i in categories %}
                        <a href="/Category/?category={{ i.id }}" class="nav-item nav-link {% if request.GET.category|slugify == i.id|slugify %}active{% endif %}" role="tab" aria-controls="nav-profile" aria-selected="false">{{ i.category_name }}</a>
                      {% endfor %}
                    </div>
                  </nav>

                  <!-- End Nav Button -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                  <!-- card one -->
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="whats-news-caption">
                      <div class="row">
                        {% if news %}
                          {% for n in news %}
                            <div class="col-lg-6 col-md-6 {{ n.category }}">
                              <div class="single-what-news mb-100">
                                <div class="what-img">
                                  <img src="{{ n.news_image.url }}" height="350px" width="250px" alt="{{ n.news_image.url }}" />
                                </div>
                                <div class="what-cap">
                                  <span class="color1">{{ n.category }}</span>
                                  <h4><a href="#">{{ n.title|truncatechars:40 }}</a></h4>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        {% else %}
                          <tr>
                            <td colspan="6" class="center">News Not found</td>
                          </tr>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Nav Card -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Whats New End -->

    <!-- Start pagination -->
    {% comment %} <div class="pagination-area pb-45 text-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="single-wrap d-flex justify-content-center">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                  <li class="page-item">
                    <a class="page-link" href="#"><span class="flaticon-arrow roted"></span></a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">01</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">02</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">03</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#"><span class="flaticon-arrow right-arrow"></span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
    <!-- End pagination -->
  </main>
{% endblock %}
