{% extends 'Home/main.html' %}
{% block home_active %}active{% endblock home_active %}
{% load static %}

{% block main %}
  <main>
    <!-- Trending Area Start -->
    <div class="trending-area fix">
      <div class="container">
        <div class="trending-main">
          <!-- Trending Tittle -->
          <div class="row">
            <div class="col-lg-12">
              <div class="trending-tittle">
                <strong>Trending now</strong>
                <!-- <p>Rem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                <div class="trending-animated">
                  <ul id="js-news" class="js-hidden">
                    {% for t in trending %}
                    <li class="news-item">{{t.title}}</li>
                    {% endfor %}
                    
                    <li class="news-item">Spondon IT sit amet, consectetur.......</li>
                    <li class="news-item">Rem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          {% comment %} Trending News {% endcomment %}
          <div class="row"> 
            <div class="col-lg-8">
              <!-- Trending Top -->
               {% for a in news %}
                {% if forloop.first %}
                  <div class="trending-top mb-30">
                    <div class="trend-top-img">
                      <img src="{{ a.news_image.url }}" alt="" height="411" width="770"/>
                      <div class="trend-top-cap">
                        <span>{{a.category}}</span>
                        <h2><a href="{% url 'details' a.id %}">{{a.title|truncatechars:30}}</a></h2>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
              <!-- Trending Bottom -->
              <div class="trending-bottom">
                <div class="row">
                  {% for a in news|slice:"3:7" %}
                    {% if not forloop.first %}
                      <div class="col-lg-4">
                        <div class="single-bottom mb-35">
                          <div class="trend-bottom-img mb-30">
                            <img src="{{a.news_image.url}}" height="157" width="236" alt="" />
                          </div>
                          <div class="trend-bottom-cap">
                            <span class="color1">{{a.category}}</span>
                            <h4><a href="{% url 'details' a.id %}">{{a.title|truncatechars:40}}</a></h4>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- Riht content -->
            <div class="col-lg-4">
              {% for a in news|slice:"4" %}
                {% if not forloop.first %}
                  <div class="trand-right-single d-flex">
                    <div class="trand-right-img">
                      <img src="{{a.news_image.url}} " height="100" width="120" alt="" />
                    </div>
                    <div class="trand-right-cap">
                      <span class="color1">{{a.category}}</span>
                      <h4><a href="{% url 'details' a.id %}">{{a.title|truncatechars:40}}</a></h4>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          {% comment %} End Trending News {% endcomment %}
        </div>
      </div>
    </div>
    <!-- Trending Area End -->

    <!-- Weekly-News start -->
    <div class="weekly-news-area pt-50">
      <div class="container">
        <div class="weekly-wrapper">
          <!-- section Tittle -->
          <div class="row">
            <div class="col-lg-12">
              <div class="section-tittle mb-30">
                <h3 style="color: #ff6219;">LJ News</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="weekly-news dot-style d-flex dot-style">
                {% for lj in ljnews %}
                  <div class="weekly-single">
                    <div class="weekly-img">
                      <img src="{{lj.ljnews_image.url}}" height="432" width="370" alt="" />
                    </div>
                    <div class="weekly-caption" style="width: 320px;">
                      <span class="color1">{{lj.category}}</span>
                      <h4><a href="{% url 'details' lj.id %}">{{lj.title|truncatechars:35}}</a></h4>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Weekly-News -->

    <!-- Whats New Start -->
    <section class="whats-news-area pt-50 pb-20">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row d-flex justify-content-between">
              <div class="col-lg-3 col-md-3">
                <div class="section-tittle mb-30">
                  <h3 style="color: #ff6219;">Whats New</h3>
                </div>
              </div>
              <div class="col-lg-9 col-md-9">
                <div class="properties__button">
                  <!-- Nav Button -->
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link {% if not request.GET.category %}active{% endif %}" href="/" role="tab" aria-controls="nav-home" aria-selected="true">All</a>

                      {% for i in categories %}
                        <a href="/?category={{ i.id }}" class="nav-item nav-link {% if request.GET.category|slugify == i.id|slugify %}active{% endif %}" role="tab" aria-controls="nav-profile" aria-selected="false">{{ i.category_name }}</a>
                      {% endfor %}
                    </div>
                  </nav>
                  <!-- End Nav Button -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <!-- Nav Card -->
                <div class="tab-content d-flex" id="nav-tabContent">
                  <!-- card one -->
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="whats-news-caption">
                      <div class="row">
                        {% if cat_news %}
                        {% for c in cat_news %}
                        
                          <div class="col-lg-4 col-md-6 {{ c.category }}">
                            <div class="single-what-news mb-100">
                              <div class="what-img">
                                <img src="{{c.news_image.url}}" height="300" width="380" alt="" />
                              </div>
                              <div class="what-cap">
                                <span class="color1">{{c.category}}</span>
                                <h4><a href="{% url 'details' c.id %}">{{c.title|truncatechars:28}}</a></h4>
                              </div>
                            </div>
                          </div>

                        {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Nav Card -->
              </div>
            </div>
          </div>
          {% comment %} <div class="col-lg-4">  
            <!-- Section Tittle -->
            <div class="section-tittle mb-40">
              <h3>Follow Us</h3>
            </div>
            <!-- Flow Socail -->
            <div class="single-follow mb-45">
              <div class="single-box">
                <div class="follow-us d-flex align-items-center">
                  <div class="follow-social">
                    <a href="#"><img src="{% static 'assets/img/news/ico -fb.pngn' %}" alt="" /></a>
                  </div>
                  <div class="follow-count">
                    <span>8,045</span>
                    <p>Fans</p>
                  </div>
                </div>
                <div class="follow-us d-flex align-items-center">
                  <div class="follow-social">
                    <a href="#"><img src="{% static 'assets/img/news/ico -tw.pngn' %}" alt="" /></a>
                  </div>
                  <div class="follow-count">
                    <span>8,045</span>
                    <p>Fans</p>
                  </div>
                </div>
                <div class="follow-us d-flex align-items-center">
                  <div class="follow-social">
                    <a href="#"><img src="{% static 'assets/img/news/icon-ins.png' %} " alt="" /></a>
                  </div>
                  <div class="follow-count">
                    <span>8,045</span>
                    <p>Fans</p>
                  </div>
                </div>
                <div class="follow-us d-flex align-items-center">
                  <div class="follow-social">
                    <a href="#"><img src="{% static 'assets/img/news/ico-yo.pngn' %}" alt="" /></a>
                  </div>
                  <div class="follow-count">
                    <span>8,045</span>
                    <p>Fans</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- New Poster -->
            <div class="news-poster d-none d-lg-block">
              <img src="{% static 'assets/img/news/news_card.jpg' %} " alt="" />
            </div>
          </div> {% endcomment %}
        </div>
      </div>
    </section>
    <!-- Whats New End -->

   
    <!-- Recent Articles start -->
    <div class="recent-articles" style="margin-top: 50px;">
      <div class="container">
        <div class="recent-wrapper">
          <!-- section Tittle -->
          <div class="row">
            <div class="col-lg-12">
              <div class="section-tittle mb-30">
                <h3 style="color: #ff6219;">Articles</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="recent dot-style d-flex dot-style">
                {% if featured %}
                  {% for f in featured %}
                    <div class="single-recent mb-100">
                      <div class="what-img">
                        <img src="{{ f.news_image.url }}" height="350px" width="370px" alt="" />
                      </div>
                      <div class="what-cap">
                        <span class="color1">{{f.category}}</span>
                        <h4><a href="{% url 'details' f.id %}">{{f.title|truncatechars:35}}</a></h4>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Recent Articles End -->

    <!-- Start pagination -->
    <div class="pagination-area pb-45 text-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="single-wrap d-flex justify-content-center">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                  <li class="page-item">
                    <a class="page-link" href="#"><span class="flaticon-arrow roted"></span></a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">01</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">02</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">03</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#"><span class="flaticon-arrow right-arrow"></span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End pagination -->
  </main>
{% endblock %}
